.BlackjackGame {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: gold;
    background-color: seagreen;
    padding: 10px;
}

.BlackjackGame .advice button {
    font-size: 1.2em;
    background-color: royalblue;
    color: lightgrey;
    border: 2px solid lightgrey;
}

.spacer {
    height: 20vh;
}
